
*{
    margin: 0;
    padding: 0;
}

#botoes {
    margin: 20px;
    position: absolute;
    left: 50%;
    top: 3%;
    transform: translate(-50%, -50%);
}
    
#btnAluno, #btnProfessor {
    height: 40px;
    width: 180px;
    border-radius: 10px;
    background: #e4f2f7;
    box-shadow: 
        3px 2px 2px #afeeee,
        0px 0px 0px 2px #ac58aa;
    border: none;
    padding: 10px;
    margin-right: 10px;
}

#btnAluno:hover{
    background-color: #b9deeb;
}

#btnProfessor:hover{
    background-color: #b9deeb;
}

#criar {
    margin: 20px;
}
    
#criar input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    
}
    
#criar button {
    height: 40px;
    width: 180px;
    padding: 10px;
    position: absolute;
    left: 500px;
    top: 2%;
    border-radius: 10px;
    background: #e4f2f7;
    box-shadow: 
        3px 2px 2px #afeeee,
        0px 0px 0px 2px #ac58aa;
    border: none;
}

#criar button:hover{
    background-color: #b9deeb;
}

#nomes-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #eefdec;
    box-shadow: 
        3px 3px 2px #a5f1a3,
        0px 0px 0px 3px #ffff7a;
    border-radius: 5px;
    margin: 10px;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
#nomes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    height: 90%;
    width: 90%;
}

.aluno {
    background-color: #dbead5;
    width: 105%;
    height: 30px;
    display: flex;
    margin: 5px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 2px 2px #008000;
    border-radius: 5px;
  }
  
  .professor {
    background-color: #dbead5;
    width: 105%;
    height: 30px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 2px 2px #008000;
    border-radius: 5px;
  }